<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Resolution</th>
            <th>Size</th>
            <th>creationTime</th>
            <th>byte</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="image: ${images}">
            <td th:text="${image.name}">Name</td>
            <td th:text="${image.resulution}">Resolution</td>
            <td th:text="${image.size}">Size</td>
            <td th:text="${image.created}">creationTime</td>
            <td><img th:src="${'/gallery/picture/'+image.index}" style="height: 80px;" /></td>
            <form th:action="${'/gallery/delete-picture/'+image.index}" method="GET">
            <td><input type="submit" value="Delete"/></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
